.thumbnail {
      position: relative;
}

.image {
      display: block;
      width: 100%;
      height: auto;
}

.business-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
      text-align: center;
      color: #fff;
}

.business-overlay p {
      margin: 0 20px 10px;
}

.ig-services .caption h3 {
      text-align: center;
}

.thumbnail:hover .business-overlay {
      height: 100%;
      padding: 20% 0 0;
}

.business-image {
}

.ig-news {
      background: #CB4335;
}

#toTop {
      color: #E74C3C;
      border: 2px solid #E74C3C;
}

#toTop:hover {
      background-color: #E74C3C;
}

video {
      width: 100%;
}

.client-logos img {
      
}

#ig-video-bg {
      position: relative;
}

@media screen and (min-width: 768px) {
      .video-caption {
            right: 20%;
            left: 20%;
            padding-bottom: 30px;
      }
}

.video-caption {
      position: absolute;
      right: 15%;
      top: 35%;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.news {
      margin-top: 15px;
}

.hideoverflow {
      overflow: hidden;
}

.video-caption h1 {
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 30px;
}

.btn-red {
      color: #fff;
      background-color: #CB4335;
      border-color: #CB4335;
}

.facebook-post {
      border: 1px solid #c3c3c3;
      padding: 30px;
      background: #3B5998;
      color: #fff;
}

.facebook-post h3 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px;
}

.facebook-post .fa {
      float: right;
      font-size: 25px;
      margin-right: 20px;
      background: #3b1098;
      padding: 7px 12px;
}

.btn-red:focus,
.btn-red:hover {
      color: #ffffff;
      border-color: #ffffff;
      background-color: transparent !important;
}

.fb-content {
      display: inline-block;
      width: 88%;
      padding-left: 2%;
}

@media screen and (min-width: 1200px) {
      .navbar-fixed-top.sticky-nav .container {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
      }
}

.journey-career .journey header {
      font-family: 'Courgette', cursive;
      font-size: 50px;
      color: #fff;
      padding: 7% 3.5%;
      border-radius: 100%;
      background: #cd3433; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#CB4335, #cd3433); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#CB4335, #cd3433); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#CB4335, #cd3433); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#CB4335, #cd3433); /* Standard syntax */
}

.journey-career .journey div p {
      font-size: 20px;
      color: #000000;
      padding: 45px 0 0 30px;
}

.journey-career .journey article {
      padding: 15px;
      border: 1px solid #CB4335;
      margin: 0 15px;
}

.fix-height-305 {
      height: 350px;
      overflow: hidden;
}

.padding-0 {
      padding-right: 0;
      padding-left: 0;
}

@media (min-width: 768px) {
      .sticky-nav.navbar-default {
            padding: 15px 0;
            box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            transition: all 0.3s;
      }
}

.category-icon img {
      margin: 0 auto;
}

article.category-item {
      margin-bottom: 20px;
}

.navbar-footer li {
      width: 33.333%;
}

.social-icons {
      /* position: fixed;
       right: 0;
       top: 40%;*/
      display: block !important;
      margin-bottom: 20px;
      margin-right: 38px;
}

.social-icons ul {
      overflow: auto;
}

.social-icons ul li {
      list-style-type: none;
      margin-bottom: 10px;
      display: inline-block;
      float: right;
      margin-left: 10px;
}

.social-icons ul li a i {
      color: #fff;
      width: 25px;
      height: 25px;
      font-size: 20px;
      text-align: center;
      padding: 3px;
}
.social-icons li sub{
      color: #fff;
}
.sticky-nav a.navbar-brand img {
      height: 55px;
}
/*.social-icons .fa-facebook {
      background:#3b5998
}

.social-icons .fa-linkedin {
      background:#007bb6
}

.social-icons .fa-twitter {
      background:#00aced
}

.social-icons .fa-google-plus {
      background:#dd4b39
}
*/
.social-icons ul li a i {
      transition: all 0.2s ease-in-out;
}

.social-icons ul li a i:hover {
      opacity: .7;
      background: #CB4335;
}

@media screen and (min-width: 768px) {
      .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 0px;
            margin-top: 20px;
      }
}
