#businesses {
    
    .slick-next {
        position: absolute;
        top: 0px;
        left: 65px;
    }
    .slick-prev{
        margin-left: 15px;
    }
    .slick-arrow {
    }
    .ig-business {
        padding: 16px 16px;
        display: inline-block;
        float: left;
        border-radius: 3px;
        &:last-child {
            margin-right: 0;
        }
        
        img {
            margin-bottom: 20px;
        }
        h4 {
            position: relative;
        }
        span {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 10px;
            margin-bottom: 20px;
            display: block;
        }
        p {
            text-align: justify;
        }
        footer {
            .ig-read {
                float: left;
            }
            .ig-download {
                float: right;
            }
        }
    }
}