body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 34px;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;
    display: inline-block;
    &::after {
        content: '\A';
        height: 2px;
        padding-top: 20px;
        margin: 0 auto;
        width: 93px;
        display: block;
        border-bottom: 2px solid #444444;
    }
}

h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 26px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 22px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 18px;
    
}

h6 {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
}

a {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #fab702;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    /*&:active {
        text-decoration: underline;
    }*/
    /*&:visited {
        color: #FA9B00;
        text-decoration: underline;
    }*/
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #777777;
    line-height: 16px;
    margin-bottom: 16px;
    strong {
        
    }
    em {
    }
    b {
        font-weight: 700;
    }
    i {
        font-style: italic;
    }
    u, ins {
        text-decoration: underline;
    }
    del, s {
        text-decoration: line-through;
    }
    
    sup {
        
    }
    sub {
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        color: #808080;
        display: inline;
        font-weight: bold;
    }
    small {
        
    }
    abbr {
        
    }
    cite {
        
    }
    dfn {
        
    }
    mark {
        
    }
    var {
        
    }
    time {
        
    }
}

tt, code, kbd, samp {
    font-family: monospace;
    color: #8b0000;
    font-size: 13px;
    background: #EEE;
    text-align: justify;
}

blockquote, q {
    display: block;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    font-family: Georgia, serif;
    color: #666;
    text-align: justify;
    border-left: 10px solid #fab702;
    border-right: 2px solid #fab702;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}
table {
    caption {
        
    }
    thead {
        
    }
    tbody {
        
    }
    th {
        
    }
    td {
        
    }
    tr {
        
    }
}

hr {
    
}

pre {
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    text-align: justify;
}

img {
    height: auto;
    max-width: 100%;
}

meter {
    
}

form {
    
}

label {
    
}

input[type = "submit"], button[type = "submit"],
input[type = "reset"], button,
input[type = "button"], button[type = "button"] {
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    padding: 10px 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    background: #f9f9f9;
    border: 2px solid #c6c6c6;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 20px;
    color: #222222;
    &:hover {
        border: 2px solid #fab702;
        text-decoration: none;
    }
}

input[type = "disabled"], button[type = "button"] {
    
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"],
input[type="tel"], input[type="search"], input[type="number"], textarea {
    font-family: 'PT Sans', sans-serif;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 2px;
    padding: 2px 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
    margin-bottom: 20px;
}
input[type="radio"] {
    
}

select {
    option {
        
    }
}

ul {
    padding: 20px;
    list-style-type: disc;
    li {
        padding: 5px;
        margin-left: 35px;
        line-height: 20px;
        font-size: 14px;
    }
}

ol {
    padding: 20px;
    list-style-type: decimal;
    li {
        padding: 5px;
        line-height: 20px;
        font-size: 14px;
        margin-left: 35px;
    }
}
