body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 34px;
}
h2{
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
}
h3{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
h5{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
h6{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
a{
    &:hover{
        
    }
    &:active{
        
    }
    &:visited{
        
    }
}
p{
    strong{
        
    }
    em{
        
    }
    b{
        
    }
    i{
        
    }
    u{
        
    }
    del{
        
    }
    ins{
        
    }
    s{
        
    }
    sup{
        
    }
    sub{
        
    }
    small{
        
    }
    abbr{
        
    }
    q{
        
    }
    cite{
        
    }
    dfn{
        
    }
    mark{
        
    }
    var{
        
    }
    time{
        
    }
}
blockquote {
    
}
table {
    caption{
        
    }
    thead{
        
    }
    tbody {
        
    }
    th{
        
    }
    td{
        
    }
    tr{
        
    }
}
code{
    
}
hr{
    
}
pre{
    
}
kbd{
    
}
samp{
    
}
img{
    
}
figure{
    img{
        
    }
    figcaption{
        
    }
}
meter{
    
}

form{
    
    
}

label{
    
}

input[type = "submit"], button[type = "submit"] {
    
}

input[type = "reset"], button [type = "reset"] {
    
}

input[type = "button"], button[type = "button"] {
    
}

input[type = "disabled"], button[type = "button"] {
    
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"],
input[type="tel"], input[type="search"], input[type="number"] {
    
}
input[type="radio"]{
    
}
textarea {
    
}
select{
    option{
        
    }
}

ul{
    li{
        
    }
}
ol{
    li{
        
    }
}
