header {
    height: 95px;
    background: #000000;
    padding-top: 30px;
    #ig-social-bar {
        float: right;
        display: inline-block;
        p {
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            display: inline;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
        .fa {
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 5px;
            width: 13px;
            height: 13px;
            font-size: 13px;
            text-align: center;
        }
    }
    .ig-logo {
        float: left;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        a {
            background: url("../imgs/logo.png") no-repeat;
            background-size: cover;
            width: 216px;
            height: 50px;
            display: inline-block;
            margin: 0 auto;
            text-indent: -9000px;
        }
    }
}