#ig-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 1366px){
        transform: translate(-50%, -58.5%);
    }
    @media screen and (min-width: 1440px){
        transform: translate(-50%, -64%);
    }
}

header {
    background: transparent;
    padding-top: 30px;
    
    .ig-header-right {
        display: block;
        .ig-social {
            float: right;
            margin-left: 15px;
            font-size: 12px;
            sub {
                color: #fff;
                font-family: 'PT Sans', sans-serif;
            }
            a {
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                letter-spacing: 0.5px;
                color: #ffffff;
                font-weight: normal;
            }
        }
        .ig-header-contact {
            padding-top: 5px;
        }
    }
    #ig-social-bar {
        
        p {
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            display: inline;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
        .fa {
            border: 1px solid #fff;
            border-radius: 100%;
            //padding: 5px;
            padding: 7px;
            /*width: 13px;
            height: 13px;
            font-size: 13px;*/
            text-align: center;
            margin-right: 5px;
            &:hover {
                text-decoration: none;
                background: #a51919;
            }
        }
    }
    .ig-logo {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        margin-bottom: 0;
        a {
            background: url("../imgs/logo.png") no-repeat;
            background-size: cover;
            width: 216px;
            height: 50px;
            display: inline-block;
            margin: 0 auto;
            text-indent: -9000px;
        }
    }
    #ig-main-nav {
        float: right;
        clear: both;
        #ig-nav-toggle {
            color: #FFF;
            display: none;
            font-size: 22px;
            cursor: pointer;
            line-height: 1;
            margin-top: -1px;
            position: absolute;
            top: 23px;
            right: 30px;
            @media screen and (max-width: 1100px) {
                display: inline-block;
            }
        }
        
        .ig-nav-list {
            list-style: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin-left: 10px;
                padding: 0;
                a {
                    color: #fff;
                    padding: 5px;
                    &:hover {
                        text-decoration: none;
                        background: #a51919;
                        border-radius: 2px;
                    }
                }
            }
            .current-menu-item {
                a {
                    color: #fff;
                    background: #a51919;
                    border-radius: 2px;
                }
            }
        }
    }
    
    #hero-image {
        margin: auto;
        text-align: center;
        padding-top: 200px;
        h1 {
            display: block;
            color: #fff;
        }
        a {
            background: #00aeef;
            &:hover {
                background: #00aeef;
                outline: 0;
            }
        }
    }
}