html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 34px; }

h2 {
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 50px;
  display: inline-block; }
  h2::after {
    content: '\A';
    height: 2px;
    padding-top: 20px;
    margin: 0 auto;
    width: 93px;
    display: block;
    border-bottom: 2px solid #444444; }

h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 26px; }

h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 22px; }

h5 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 18px; }

h6 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 16px; }

a {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #fab702;
  font-weight: 700;
  text-decoration: none;
  /*&:active {
      text-decoration: underline;
  }*/
  /*&:visited {
      color: #FA9B00;
      text-decoration: underline;
  }*/ }
  a:hover {
    text-decoration: underline; }

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #777777;
  line-height: 16px;
  margin-bottom: 16px; }
  p b {
    font-weight: 700; }
  p i {
    font-style: italic; }
  p u, p ins {
    text-decoration: underline; }
  p del, p s {
    text-decoration: line-through; }
  p sub {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #808080;
    display: inline;
    font-weight: bold; }

tt, code, kbd, samp {
  font-family: monospace;
  color: #8b0000;
  font-size: 13px;
  background: #EEE;
  text-align: justify; }

blockquote, q {
  display: block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  font-family: Georgia, serif;
  color: #666;
  text-align: justify;
  border-left: 10px solid #fab702;
  border-right: 2px solid #fab702;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc; }

pre {
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
  text-align: justify; }

img {
  height: auto;
  max-width: 100%; }

input[type="submit"], button[type="submit"],
input[type="reset"], button,
input[type="button"], button[type="button"] {
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  padding: 10px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  background: #f9f9f9;
  border: 2px solid #c6c6c6;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 20px;
  color: #222222; }
  input[type="submit"]:hover, button[type="submit"]:hover,
  input[type="reset"]:hover, button:hover,
  input[type="button"]:hover, button[type="button"]:hover {
    border: 2px solid #fab702;
    text-decoration: none; }

input[type="text"], input[type="password"], input[type="url"], input[type="email"],
input[type="tel"], input[type="search"], input[type="number"], textarea {
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 2px;
  padding: 2px 10px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  margin-bottom: 20px; }

ul {
  padding: 20px;
  list-style-type: disc; }
  ul li {
    padding: 5px;
    margin-left: 35px;
    line-height: 20px;
    font-size: 14px; }

ol {
  padding: 20px;
  list-style-type: decimal; }
  ol li {
    padding: 5px;
    line-height: 20px;
    font-size: 14px;
    margin-left: 35px; }

.ig-wrapper {
  width: 1130px;
  margin: 0 auto;
  display: block;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9); }

.ig-button-1 {
  padding: 10px 12px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  background: #f9f9f9;
  border: 2px solid #c6c6c6;
  font-weight: 700;
  height: 24px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #222222; }
  .ig-button-1:hover {
    border: 2px solid #fab702;
    text-decoration: none; }

.ig-button-2 {
  background: #fab702;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 7px;
  border-radius: 2px; }

.clear {
  clear: both; }

@media (min-width: 1025px) {
  .align-center {
    text-align: center; }

  .align-left {
    width: 45%;
    display: inline-block;
    margin: 0 20px 0 0;
    float: left; }

  .align-right {
    width: 45%;
    display: inline-block;
    margin: 0 0 0 20px;
    float: right; } }
header {
  height: 95px;
  background: #000000;
  padding-top: 30px; }
  header #ig-social-bar {
    float: right;
    display: inline-block; }
    header #ig-social-bar p {
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
      display: inline; }
    header #ig-social-bar a {
      text-decoration: none;
      color: #ffffff; }
    header #ig-social-bar .fa {
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 5px;
      width: 13px;
      height: 13px;
      font-size: 13px;
      text-align: center; }
  header .ig-logo {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; }
    header .ig-logo a {
      background: url("../imgs/logo.png") no-repeat;
      background-size: cover;
      width: 216px;
      height: 50px;
      display: inline-block;
      margin: 0 auto;
      text-indent: -9000px; }
  header .ig-nav-button {
    color: #fff;
    position: absolute;
    top: 70px;
    font-size: 16px;
    right: 118px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    opacity: 1;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear; }
    header .ig-nav-button:hover {
      text-decoration: none; }
  header #ig-main-nav {
    background: #000000;
    position: absolute;
    left: 0;
    top: 125px;
    height: 100%;
    min-width: 200px; }
    header #ig-main-nav .ig-nav-list {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      header #ig-main-nav .ig-nav-list li {
        margin: 0px;
        padding: 0 15px;
        position: relative;
        line-height: 15px; }
        header #ig-main-nav .ig-nav-list li:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px;
          border-bottom: 1px solid #343535; }
        header #ig-main-nav .ig-nav-list li a {
          color: #fff;
          font-size: 15px;
          font-weight: normal;
          display: block;
          padding: 15px 0; }
          header #ig-main-nav .ig-nav-list li a:hover {
            color: #fab702; }

/*# sourceMappingURL=styles.css.map */
