html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 34px; }

h2 {
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 50px;
  position: relative; }
  h2::after {
    content: '\A';
    height: 2px;
    padding-top: 20px;
    margin: 0 auto;
    width: 93px;
    display: block;
    position: absolute;
    left: 0;
    border-bottom: 2px solid #444444; }

h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 26px; }

h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 22px; }

h5 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 18px; }

h6 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 16px; }

a {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #a51919;
  font-weight: 700;
  text-decoration: none;
  /*&:active {
      text-decoration: underline;
  }*/
  /*&:visited {
      color: #FA9B00;
      text-decoration: underline;
  }*/ }
  a:hover {
    text-decoration: underline; }

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #777777;
  line-height: 16px;
  margin-bottom: 16px; }

b {
  font-weight: 700; }

i {
  font-style: italic; }

u, ins {
  text-decoration: underline; }

del, s {
  text-decoration: line-through; }

sup {
  font-size: 10px;
  vertical-align: text-top; }

sub {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  opacity: 0.7;
  display: inline;
  font-weight: bold; }

tt, code, kbd, samp {
  font-family: monospace;
  color: #8b0000;
  font-size: 13px;
  background: #EEE;
  text-align: justify; }

blockquote, q {
  display: block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  font-family: Georgia, serif;
  color: #666;
  text-align: justify;
  border-left: 10px solid #a51919;
  border-right: 2px solid #a51919;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc; }

pre {
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
  text-align: justify; }

img {
  height: auto;
  max-width: 100%; }

input[type="submit"], button[type="submit"],
input[type="reset"], button,
input[type="button"], button[type="button"] {
  display: inline-block;
  color: #FFF;
  background: #a51919;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 11px 18px 13px 18px;
  margin: 3px 5px 3px 0px;
  text-decoration: none;
  border: none;
  font-weight: 500;
  font-size: 13px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset; }
  input[type="submit"]:hover, button[type="submit"]:hover,
  input[type="reset"]:hover, button:hover,
  input[type="button"]:hover, button[type="button"]:hover {
    text-decoration: none;
    background: #b91919; }

input[type="text"], input[type="password"], input[type="url"], input[type="email"],
input[type="tel"], input[type="search"], input[type="number"], textarea {
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 2px;
  padding: 2px 10px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  margin-bottom: 20px; }

ul {
  padding: 20px;
  list-style-type: disc; }
  ul li {
    padding: 5px;
    margin-left: 35px;
    line-height: 20px;
    font-size: 14px; }

ol {
  padding: 20px;
  list-style-type: decimal; }
  ol li {
    padding: 5px;
    line-height: 20px;
    font-size: 14px;
    margin-left: 35px; }

.ig-wrapper {
  width: 1130px;
  margin: 0 auto;
  display: block;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9); }

.ig-section h2 {
  padding-top: 30px; }
.ig-section:nth-child(2n) {
  background: #f4f4f4; }

.ig-button-1 {
  display: inline-block;
  color: #FFF;
  background: #a51919;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 11px 18px 13px 18px;
  margin: 3px 5px 3px 0;
  text-decoration: none;
  border: none;
  font-weight: 500;
  font-size: 13px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset; }
  .ig-button-1:hover {
    text-decoration: none;
    background: #b91919; }

.ig-button-2 {
  background: rgba(128, 128, 128, 0.5);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 11px 18px 13px 18px;
  margin: 3px 5px 3px 0;
  border-radius: 2px; }
  .ig-button-2:hover {
    text-decoration: none;
    background: gray; }

.clear {
  clear: both; }

@media (min-width: 1025px) {
  .align-center {
    text-align: center; }

  .align-left {
    width: 45%;
    display: inline-block;
    margin: 0 20px 0 0;
    float: left; }

  .align-right {
    width: 45%;
    display: inline-block;
    margin: 0 0 0 20px;
    float: right; } }
#ig-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 1366px) {
    #ig-bg-video {
      transform: translate(-50%, -58.5%); } }
  @media screen and (min-width: 1440px) {
    #ig-bg-video {
      transform: translate(-50%, -64%); } }

header {
  background: transparent;
  padding-top: 30px; }
  header .ig-header-right {
    display: block; }
    header .ig-header-right .ig-social {
      float: right;
      margin-left: 15px;
      font-size: 12px; }
      header .ig-header-right .ig-social sub {
        color: #fff;
        font-family: 'PT Sans', sans-serif; }
      header .ig-header-right .ig-social a {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #ffffff;
        font-weight: normal; }
    header .ig-header-right .ig-header-contact {
      padding-top: 5px; }
  header #ig-social-bar p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: inline; }
  header #ig-social-bar a {
    text-decoration: none;
    color: #ffffff; }
  header #ig-social-bar .fa {
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    width: 13px;
    height: 13px;
    font-size: 13px;
    text-align: center;
    margin-right: 5px; }
    header #ig-social-bar .fa:hover {
      text-decoration: none;
      background: #a51919; }
  header .ig-logo {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-bottom: 0; }
    header .ig-logo a {
      background: url("../imgs/logo.png") no-repeat;
      background-size: cover;
      width: 216px;
      height: 50px;
      display: inline-block;
      margin: 0 auto;
      text-indent: -9000px; }
  header #ig-main-nav {
    float: right;
    clear: both; }
    header #ig-main-nav #ig-nav-toggle {
      color: #FFF;
      display: none;
      font-size: 22px;
      cursor: pointer;
      line-height: 1;
      margin-top: -1px;
      position: absolute;
      top: 23px;
      right: 30px; }
      @media screen and (max-width: 1100px) {
        header #ig-main-nav #ig-nav-toggle {
          display: inline-block; } }
    header #ig-main-nav .ig-nav-list {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0; }
      header #ig-main-nav .ig-nav-list li {
        display: inline-block;
        margin-left: 10px;
        padding: 0; }
        header #ig-main-nav .ig-nav-list li a {
          color: #fff;
          padding: 5px; }
          header #ig-main-nav .ig-nav-list li a:hover {
            text-decoration: none;
            background: #a51919;
            border-radius: 2px; }
      header #ig-main-nav .ig-nav-list .current-menu-item a {
        color: #fff;
        background: #a51919;
        border-radius: 2px; }
  header #hero-image {
    margin: auto;
    text-align: center;
    padding-top: 200px; }
    header #hero-image h1 {
      display: block;
      color: #fff; }
    header #hero-image a {
      background: #00aeef; }
      header #hero-image a:hover {
        background: #00aeef;
        outline: 0; }

#businesses .slick-next {
  position: absolute;
  top: 0px;
  left: 65px; }
#businesses .slick-prev {
  margin-left: 15px; }
#businesses .ig-business {
  padding: 16px 16px;
  display: inline-block;
  float: left;
  border-radius: 3px; }
  #businesses .ig-business:last-child {
    margin-right: 0; }
  #businesses .ig-business img {
    margin-bottom: 20px; }
  #businesses .ig-business h4 {
    position: relative; }
  #businesses .ig-business span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    margin-bottom: 20px;
    display: block; }
  #businesses .ig-business p {
    text-align: justify; }
  #businesses .ig-business footer .ig-read {
    float: left; }
  #businesses .ig-business footer .ig-download {
    float: right; }

/*# sourceMappingURL=styles.css.map */
